{
  "Parameters": {
    "Environment": "dev"
  },
  "BankLambdaFunction": {
    "AWS_ENDPOINT_URL": "http://host.docker.internal:4566",
    "AWS_ACCESS_KEY_ID": "test",
    "AWS_SECRET_ACCESS_KEY": "test",
    "AWS_REGION": "eu-west-1",
    "BANKING_DYNAMO_TABLE_NAME": "demo-bank-dev",
    "AUTH_DYNAMO_TABLE_NAME": "demo-bank-dev",
    "JWT_SECRET_ARN": "/demo-bank-app/dev/auth-jwt-secret",
    "OPENAI_API_KEY_SECRET_ARN": "/demo-bank-app/dev/openai-api-key",
    "MYOS_SECRET_ARN": "/demo-bank-app/dev/myos-credentials",
    "MYOS_API_KEY": "",
    "MYOS_ACCOUNT_ID": "",
    "MYOS_BASE_URL": "",
    "LOG_LEVEL": "DEBUG"
  }
}
